body {
	background-color: #ffffff;
}

div#welcomeHead
{

	position: relative;
	top: 30px;
	right: 30%;
	left: 30%;
	bottom: 30px;
	clear: both;
}

div#internalHead {
	float: right;
}

div#content{
	clear: left;
	
	margin-left: 15%;
	margin-right: 15%;
	padding: 2em;
}

p {
	color: #333333;
	font-size: 80%;
	font-family: Verdana, "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif;
}


#body p {
	margin-left: 10%;
	margin-right: 20px;
}




#footer {

	margin-left: 15%;
	clear: both;
	}
	
#menu {
margin-left: 20%;
margin-right: 20%;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}

#menu ul li {
	float: left;
	text-transform: uppercase;
	width: 30%;
	max-width: 20em;
	margin-right: .2em;
}



#menu ul li.selected a {
	background: red;
	text-transform: uppercase;
}

#menu ul li a {
	display: block;
	position: relative;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	background:  #95100E;;
}

#menu ul li a:hover {
	color: #95100E;
	background: #B0BB9D;
}

#menu ul li.selected a:hover {
	color: #303b99;
	background: red;
}